.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-link {
    cursor: pointer;
    padding: 10px 15px;
    margin: 0 4px;
    background: transparent;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border: none;
}

.page-link:active, .page-link:focus, .page-link:visited, .page-link:link{
    background: #8c7ae6;
    color: #fff;
}