p,
h3 {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.App,.header-content {
  max-width: 1140px;
  margin-inline: auto;
}

.App{
  display: flex;
  justify-content: space-around;
  padding: 40px 0;
}

img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.pizza-name,
.pizza-desc {
  margin: 6px 0;
}

.pizza-name {
  color: #8e44ad;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.pizza-desc {
  height: 40px;
}

.price {
  color: #2980b9;
  font-weight: 700;
  font-size: 15px;
}


.center {
  display: flex;
  align-items: center;
}

